body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
main{
    width: 300px;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(0, 0%, 100%);
    padding: 1em;
    border-radius: 20px;
}

main img{
    width: 100%;
    border-radius: 10px;
}
main .text-container{
    padding: 0 1em 1em 1em;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

main h1{
    font-weight: 700;
    font-size: 23px;
    color: hsl(218, 44%, 22%);
}

main p{
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    font-weight: 400;
    
}

footer{
    position: absolute;
    bottom: 0;
    text-align: center;
}